.theme-default-content:not(.custom) {
  max-width: initial;

  h1 {
    counter-reset: h2cnt;
  }
  h2 {
    counter-increment: h2cnt;
    counter-reset: h3cnt;
    border-bottom: 3px solid #ccc;
  }
  h3 {
    counter-increment: h3cnt;
    counter-reset: h4cnt;
    border-bottom: 2px solid #ccc;
  }
  h4 {
    counter-increment: h4cnt;
    counter-reset: h5cnt;
    border-bottom: 1px solid #ccc;
  }
  h5 {
    counter-increment: h5cnt;
    border-bottom: 1px dotted #ccc;
  }

  h2:before {
    content: counter(h2cnt) ". ";
  }
  h3:before {
    content: counter(h2cnt) ". " counter(h3cnt) ". ";
  }
  h4:before {
    content: counter(h2cnt) ". " counter(h3cnt) ". " counter(h4cnt) ". ";
  }
  h5:before {
    content: counter(h2cnt) ". " counter(h3cnt) ". " counter(h4cnt) ". " counter(h5cnt) ". ";
  }
}

.sidbar-group {
  ul {
    counter-reset: cnt;
  }
  li a::before {
    content: counters(cnt, ".") ". ";
    counter-increment: cnt;
  }
}

body
  font-family 'Noto Sans JP', sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 16px
  color $textColor

table
  tr
    td
      padding: 0.4em 0.6em
